---
layout: default
---

<div class="container">

    <div class="container-item">
        <a href="{{site.baseurl}}/courses/competition">
            <img src="{{site.baseurl}}/assets/img/leadstory.png">
        </a>
    </div>

    <div id="about" class="container-item" style="border: 1px;">
        <p style="font-weight: bold;">What we offer</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
        </p>
    </div>

    <span style="margin-top: 20px;"></span>

    <div class="wrappable">

        <div class="container">
            <i class="container-item fas fa-bullseye fa-5x"></i>
            <p>Value 1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div class="container">
            <i class="container-item fa-solid fa-arrow-up fa-5x"></i>
            <p>Value 2</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.            </p>
        </div>

        <div class="container">
            <i class="container-item fa-solid fa-user fa-5x"></i>
            <p>Value 3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <div id="courses" class="container-item">
        <p style="font-weight: bold; margin: 20px;">Our Courses</p>

        <div class="gallery">

            {% for course in site.courses %}
            <div class="card">
                <img src="{{course.thumbnail}}">
                <div class="title">
                    <a href="{{site.baseurl}}{{course.url}}" style="text-decoration: none; color: black;">
                        <h1>{{course.title}}</h1>
                    </a>
                    <h3>{{course.headline}}</h3>
                </div>
                <p class="note">
                    {{course.type}}
                    {% if course.note %}
                    <span style="color: orange;">{{course.note}}</span>
                    {% endif %}
                </p>
            </div>
            {% endfor %}

        </div>
    </div>

</div>